<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4"
      (click)="goBack()"
    >
      Go Back
    </button>
    <div class="flex flex-wrap -mx-4">
      <div class="lg:w-1/2 w-full">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
          src="https://picsum.photos/150/200"
        />
      </div>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ product?.name }}
        </h1>
        <p class="leading-relaxed">
          {{ product?.description }}
        </p>
        <div class="flex mt-4">
          <span class="title-font font-medium text-2xl text-gray-900">
            {{ product?.price | currency : "AUD" : "symbol" : "1.2-2" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
